-- scripts/18_fix_gst_compliance_split.sql
BEGIN;

-- Drop existing view
DROP VIEW IF EXISTS v_gstr1_export;

-- Recreate view with 70/30 split
CREATE OR REPLACE VIEW v_gstr1_export AS
-- Goods Portion (70% value @ 12% GST)
SELECT
  q.org_id,
  q.quote_number AS invoice_number,
  q.updated_at::DATE AS invoice_date,
  q.customer_name AS recipient_name,
  (q.mrp_excl_gst * 0.70) AS taxable_value,
  12.0 AS gst_rate_pct,
  (q.mrp_excl_gst * 0.70 * 0.12) AS gst_amount,
  (q.mrp_excl_gst * 0.70 * 1.12) AS total_invoice_value,
  q.state_name AS pos_state,
  'Goods' AS item_type
FROM quotes q
WHERE q.status = 'won'
UNION ALL
-- Services Portion (30% value @ 18% GST)
SELECT
  q.org_id,
  q.quote_number AS invoice_number,
  q.updated_at::DATE AS invoice_date,
  q.customer_name AS recipient_name,
  (q.mrp_excl_gst * 0.30) AS taxable_value,
  18.0 AS gst_rate_pct,
  (q.mrp_excl_gst * 0.30 * 0.18) AS gst_amount,
  (q.mrp_excl_gst * 0.30 * 1.18) AS total_invoice_value,
  q.state_name AS pos_state,
  'Services' AS item_type
FROM quotes q
WHERE q.status = 'won';

COMMIT;
